{% extends "layout.html" %}
{% block content %}

<div class="content-section">
	<form method="POST" action="">
		{{ form.hidden_tag() }}
		<fieldset class="form-group">
			<div class="form">
				{{ form.email.label(class="form-control-label") }}
				{{ form.email(class="form-control form-control-lg") }}
			</div>
			<div>
				{{ form.password.label(class="form-control-label") }}
				{{ form.password(class="form-control form-control-lg") }}
			</div>
			
		</fieldset>
		<div class="form-group">
			{{ form.submit(class="btn btn-outline-info") }}			
		</div>
	</form>
</div>
<div class="border-top pt-3">
	<small class="text-muted">
		Nie masz konta?<a class="ml-2" href="{{ url_for('register') }}">Zarejestruj sie</a>
		
	</small>
	
</div>
{% endblock content %}
